In [1]:
import numpy as np
import pandas as pd

In [2]:
walk = pd.read_csv('data/EPA_Walkability.csv')
air = pd.read_csv('data/annual_aqi_by_county_2019.csv')

In [3]:
air

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Baldwin,2019,271,237,34,0,0,0,0,80,52,37,0,0,220,51,0
1,Alabama,Clay,2019,107,97,10,0,0,0,0,67,50,30,0,0,0,107,0
2,Alabama,Colbert,2019,263,252,11,0,0,0,0,61,47,37,0,0,228,35,0
3,Alabama,DeKalb,2019,361,324,37,0,0,0,0,90,51,39,0,0,331,30,0
4,Alabama,Elmore,2019,228,208,20,0,0,0,0,100,50,39,0,0,228,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,Wyoming,Sublette,2019,365,266,88,8,3,0,0,200,71,46,0,0,363,2,0
1016,Wyoming,Sweetwater,2019,365,262,100,3,0,0,0,133,64,46,0,4,321,5,35
1017,Wyoming,Teton,2019,365,326,39,0,0,0,0,87,51,43,0,0,359,4,2
1018,Wyoming,Uinta,2019,365,315,49,1,0,0,0,101,58,44,0,1,360,0,4
1019,Wyoming,Weston,2019,360,335,25,0,0,0,0,71,49,40,0,0,360,0,0

In [4]:
#removing missing data 
walk = walk.replace(-99999.00, np.nan)
walk = walk.replace(-99999, np.nan)
walk.isna().sum()

OBJECTID        0
GEOID10         1
GEOID20         0
STATEFP         0
COUNTYFP        0
               ..
D3B_Ranked      0
D4A_Ranked      0
NatWalkInd      0
Shape_Length    0
Shape_Area      0
Length: 117, dtype: int64

In [5]:
walk[['STATEFP','COUNTYFP']] = walk[['STATEFP','COUNTYFP']].astype(str)
walk.loc[:, 'STATEFP'] = walk['STATEFP'].apply(lambda x: str(x).zfill(2))
walk.loc[:, 'COUNTYFP'] = walk['COUNTYFP'].apply(lambda x: str(x).zfill(3))
walk['COUNTY_FIPS'] = walk['STATEFP'] + walk['COUNTYFP']

In [6]:
my_list = []
with open('data/fips.txt', 'r') as file:
    for line in file:
        # Process each line as needed
        counties = line.strip().split(maxsplit = 1)
        my_list.append(counties)
        
states = []
with open('data/state_fips.txt', 'r') as file:
    for line in file:
        # Process each line as needed
        state = line.strip().split(maxsplit = 1)
        states.append(state)

In [20]:
# Create a mapping dictionary
mapping_dict = dict(my_list)
md = dict(states)

# Use map to convert COUNTY FIPS to COUNTY NAME
walk['County'] = walk['COUNTY_FIPS'].map(mapping_dict).fillna(walk['COUNTY_FIPS'])
walk['State'] = (walk['STATEFP'].map(md).fillna(walk['STATEFP'])).str.title()
walk

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area,COUNTY_FIPS,County,State
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,6,14,15,17,14.000000,3110.360820,2.978361e+05,48113,Dallas County,Texas
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,3,10,12,14,10.833333,3519.469110,4.849451e+05,48113,Dallas County,Texas
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,1,1,7,17,8.333333,1697.091802,1.067059e+05,48113,Dallas County,Texas
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,16,10,17,17,15.666667,2922.609204,4.818284e+05,48113,Dallas County,Texas
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,4,7,11,14,10.166667,3731.971773,6.876848e+05,48113,Dallas County,Texas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,220736,7.803100e+11,7.803100e+11,78,030,961000,2,NaN,NaN,NaN,...,1,1,20,1,7.333333,3414.446949,3.355857e+05,78030,78030,78
220736,220737,7.803100e+11,7.803100e+11,78,030,961000,3,NaN,NaN,NaN,...,1,1,20,1,7.333333,2421.025608,2.924305e+05,78030,78030,78
220737,220738,7.803100e+11,7.803100e+11,78,030,961000,5,NaN,NaN,NaN,...,1,1,20,1,7.333333,1955.909418,1.619395e+05,78030,78030,78
220738,220739,7.803100e+11,7.803100e+11,78,030,960700,3,NaN,NaN,NaN,...,1,1,10,1,4.000000,16896.768870,1.038966e+07,78030,78030,78
220739,220740,7.803100e+11,7.803100e+11,78,030,960200,2,NaN,NaN,NaN,...,1,1,12,1,4.666667,3890.488237,6.114601e+05,78030,78030,78

In [8]:
num = walk.select_dtypes(include=['int', 'float']).columns
walkavg = walk.groupby(['County','State'])[num].mean().reset_index()
walkavg

,County,State,OBJECTID,GEOID10,GEOID20,TRACTCE,BLKGRPCE,CSA,CBSA,CBSA_POP,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,02105,Alaska,24682.500000,2.105000e+10,2.105000e+10,275.000000,1.750000,NaN,NaN,0.0,...,NaN,NaN,NaN,16.250000,14.500000,1.750000,1.000000,6.041667,460504.399895,6.195659e+09
1,02158,Alaska,24938.500000,2.270000e+10,2.158000e+10,100.000000,2.500000,NaN,NaN,0.0,...,NaN,NaN,NaN,16.250000,10.750000,1.000000,1.000000,5.166667,919644.075250,1.272888e+10
2,02195,Alaska,24723.750000,2.195000e+10,2.195000e+10,200.000000,2.500000,NaN,NaN,0.0,...,NaN,NaN,NaN,15.250000,15.500000,8.250000,1.000000,8.208333,147058.575994,2.474626e+09
3,02198,Alaska,24721.500000,2.198282e+10,2.198282e+10,282150.000000,1.900000,NaN,NaN,0.0,...,NaN,NaN,NaN,13.000000,10.200000,4.100000,1.000000,5.566667,192556.476344,2.825558e+09
4,02230,Alaska,24651.000000,2.230000e+10,2.230000e+10,100.000000,1.000000,NaN,NaN,0.0,...,NaN,NaN,NaN,20.000000,17.000000,1.000000,1.000000,6.833333,148776.499700,1.152722e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3228,Yuma County,Arizona,28537.598592,4.027033e+10,4.027033e+10,33491.309859,1.971831,NaN,49740.0,207829.0,...,0.346675,0.010753,0.413134,9.070423,7.725352,11.147887,10.492958,10.012911,19252.506400,1.006622e+08
3229,Yuma County,Colorado,55023.000000,8.125963e+10,8.125963e+10,963155.555556,2.777778,NaN,NaN,0.0,...,NaN,NaN,NaN,13.888889,11.444444,3.555556,1.000000,5.740741,92013.118053,6.816554e+08
3230,Zapata County,Texas,11363.666667,4.850600e+11,4.850600e+11,950345.333333,2.111111,NaN,49820.0,14369.0,...,NaN,NaN,NaN,11.555556,10.444444,7.777778,1.000000,6.592593,62286.873597,3.044720e+08
3231,Zavala County,Texas,5106.222222,4.850800e+11,4.850800e+11,950268.000000,2.222222,NaN,NaN,0.0,...,NaN,NaN,NaN,12.111111,9.666667,9.222222,1.000000,7.037037,69878.983321,3.746086e+08
3232,Ziebach County,South Dakota,199910.500000,4.613790e+11,4.613790e+11,941600.000000,1.500000,NaN,NaN,0.0,...,NaN,NaN,NaN,9.500000,15.000000,1.000000,1.000000,4.750000,225786.430350,2.551901e+09

In [9]:
air['County'] = air['County'] + ' County'

In [10]:
merged = pd.merge(air, walkavg, on = ['County', 'State'])

In [11]:
merged.to_csv("data/merged_data.csv")

In [22]:
corr = merged.corr(numeric_only = True)

In [27]:
corr.to_csv('data/correlation_matrix.csv')

In [46]:

thresh = 0.5

mask = corr.abs().gt(thresh)

x = corr.where(mask).stack()
x.to_csv('data/corr.csv')